.header__logo {
    width: 176px;
    background-image: url(../../../images/header-logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 52px;
}

@media screen and (max-width: 767px)
{
    .header__logo{
        width: 142px;
        min-height: 42px;
    }
}