.header {
    display: flex;
    max-width: calc(100% - (2 * 48px));
    /* max-width: 1184px; */
    margin: 28px auto 56px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1279px)
{
    .header{
        margin: 28px auto 48px;
        /* max-width: 1184px; */
        max-width: calc(100% - (2 * 48px));
    }
}

@media screen and (max-width: 1023px)
{
    .header{
        max-width: calc(100% - (2 * 24px));
    }
}

@media screen and (max-width: 767px)
{
    .header{
        max-width: calc(100% - (2 * 16px));
        margin-top: 16px;
    }
}
